<footer id="footer" class="footer dark-background">

  <div class="container">
    <div class="row gy-3">

      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div class="address">
          <h4>Adresse</h4>
          <p>A108 Rue Adam</p>
          <p>Lomé, Togo 10000</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Contactez-nous</h4>
          <p>
            <strong>Téléphone :</strong> <span>+228 90 00 00 00</span><br>
            <strong>Email :</strong> <span>contact@delicieux.tg</span><br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>Horaires d'ouverture</h4>
          <p>
            <strong>Lun-Sam :</strong> <span>11h - 23h</span><br>
            <strong>Dimanche :</strong> <span>Fermé</span>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h4>Suivez-nous</h4>
        <div class="social-links d-flex">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Tous droits réservés</span> <strong class="px-1 sitename">SADIA</strong></p>
    <div class="credits">
      <!-- Lien vers BootstrapMade à garder si tu utilises leur template -->
      Conçu par <a href="https://bootstrapmade.com/">ALETI PRENAM & ATSOU AKPOTO</a>
    </div>
  </div>

</footer>
